<<<<<<< HEAD
.navbar{
display: flex;
padding: 1rem 1rem;
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
background-color: rgba(169, 151, 223, 0.151);
// background-color: transparent;
justify-content: space-between;
height: 7vh;
&-logo{
    &--inside{
    transform: scale(0.55);
    margin-top: -2rem;
    margin-left: -3rem;
    }
}
&-buttons{
margin-right: 2rem;
}
}
  
  @media (max-width: 750px) {
    .navbar {
     &-logo{
         &--inside{
             transform:scale(0.2);
         }
     }
    }
  }
  
=======
.navbar {
  display: flex;
  padding: 1rem 1rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(169, 151, 223, 0.151);
  // background-color: transparent;
  justify-content: space-between;
  height: 7vh;
  &-logo {
    transform: scale(2.8);
    margin-left: 2rem;
    margin-top: 0.6rem;
  }
  &-buttons {
    margin-right: 2rem;
  }
}

//   @media (max-width: 750px) {
//     .navbar {
//       justify-content: center;
//     }
//   }
>>>>>>> 05c7efcfdcefe706ab5377310063f355745da891
