//color pallette
$color-green1: #BDD9BF;
$color-grey: #929084;
$color-yellow: #FFC857;
$color-purple: #A997DF;
$color-red: #E5323B;
$color-green2: #2E4052;
$color-white: whitesmoke;

$font-1: 'Noto Sans';
$font-2: 'Original Surfer';

