//color pallette
$color-green1: #bdd9bf;
$color-grey: #929084;
$color-yellow: #ffc857;
$color-purple: #a997df;
$color-red: #e5323b;
$color-green2: #2e4052;
$color-white: whitesmoke;

$font-1: "Noto Sans";
$font-2: "Original Surfer";
